# Eclipse Ghidra Build Files
.antProperties.xml
.classpath
.project
.settings/
Module.manifest
bin/
build.gradle
extension.properties
ghidra_scripts/
lib/
os/
src/

.DS_Store
.gradle/
data/languages/m16c.sla

# Vim tags file
tags


# Sleigh output
*.sla
